.container {
    margin: 0 10% 50px 10%;
}

.content {
    display: grid;
    grid-template-rows: 80vh auto;
    grid-gap: 50px;
}

.bWrap {
    margin-bottom: 25px;
    display: grid;
    grid-template-areas: 
        "title title"
        "bleft bright";
    grid-template-columns: 55% auto;
    grid-template-rows: 60px auto;
    grid-gap: 25px;
}

.bTitle {
    grid-area: title;
    font-size: 40px;
    font-weight: 600;
}

.bLeft {
    grid-area: bleft;
}

.bRight {
    grid-area: bright;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 25px;
}

li {
    margin-left: 25px;
}

@media only screen and (max-width: 1200px) {
    .container {
        margin: 0 5% 50px 5%;
    }

    .content {
        grid-gap: 25px;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        margin: 0 2% 50px 2%;
    }

    .bWrap {
        grid-gap: 15px;
        margin-bottom: 10px;
    }

    .bRight {
        grid-gap: 15px;
    }
}
