.container {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;

    color: white;
    line-height: 130%;

    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100% 0;
    align-items: end;
    justify-content: space-around;

    transition: 1s;
}
.container:hover {
    /* background-size: 115% 115%; */
}

.title {
    margin: 0 30px 30px 30px;
}

.btn {
    height: 50px;
    width: 50px;
    margin: 0 30px 30px auto;

    background-image: url('btn-arrow.png');
}
.btn:hover {
    background-image: url('btn-arrow-hover.png');
}
