.container {
    min-height: calc(90vh - 50px);
    margin: 0 10% 50px 10%;

    display: grid;
    grid-template-columns: 25% auto;
    grid-gap: 10%;
}

@media only screen and (max-width: 1200px) {
    .container {
        margin: 0 5% 50px 5%;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        margin: 0 5% 30px 5%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 0 5% 30px 5%;
        min-height: calc(90vh - 30px);
        grid-template-columns: auto;
    }
}
