.container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
    text-align: center;
    margin-bottom: auto;
    padding: 0 5%;
}

.container h1 {
    color: #035629;
}

.container p {
    opacity: 0.5;
}
