.container {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 75% calc(25% - 25px); /* 25% - grid-gap */
    grid-template-rows: 60px auto 60px;
    grid-template-areas: 
        'title arrows'
        'slider slider'
        'btn btn';
    grid-gap: 25px;
}

.title {
    grid-area: title;
    font-size: 40px;
    font-weight: 600;
}

.arrows {
    grid-area: arrows;
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: 100%;
    grid-gap: 30px;
    align-items: center;

    padding: 0;
}
.arrow {
    height: 54px;
    width: 54px;

    border-width: 2px;
    border-radius: 50%;
    border-color: #767676;
    border-style: solid;

    transition: 250ms;
}
.arrowPrev {
    composes: arrow;
    justify-self: end;
    background: url('/public/static/arrow-prev.png');
}
.arrowPrev:hover {
    background: url('/public/static/arrow-prev-hover.png');
}
.arrowNext {
    composes: arrow;
    background: url('/public/static/arrow-next.png');
}
.arrowNext:hover {
    background: url('/public/static/arrow-next-hover.png');
}

.slider {
    grid-area: slider;
    width: calc(100% + 20px);
}
.slider div {
    height: 100%;
    padding-right: 10px;
}

.btn {
    grid-area: btn;
    align-self: flex-end;
    margin: 0 auto;
}
