.menu {
    z-index: 1;

    height: 10vh;

    display: grid;
    grid-template-columns: 20% 50% 20%;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;

    transition: 0.5s ease;
}

.login {
    min-width: 50%;
    margin-left: auto;
    padding: 10px 30px;

    border: none;
    border-radius: 30px;
    font-size: 20px;

    transition: 250ms;
}

.loginWhite {
    background: white;
    color: black;
}
.loginWhite:hover {
    background: black;
    color: white;
}

.loginBlack {
    border: 2px solid black;
    background: rgba(0, 0, 0, 0);
    color: black;
}
.loginBlack:hover {
    background: black;
    color: white;
}

.avatar {
    width: 60px;
    height: 60px;
    margin-left: auto;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .menu {
        margin: 0 5%;
    }
}

@media only screen and (max-width: 992px) {
    .menu {
        grid-template-columns: 30% auto 120px;
        margin: 0 2%;
    }
}

@media only screen and (max-width: 768px) {
    .menu {
        margin: 0 5%;
        display: grid;
        grid-template-columns: 50% auto;
    }
    .menu.fixed {
        z-index: 5;
        position: fixed;
        background: white;
        margin: 0;
        padding: 0 5%;
    }

    .avatar {
        display: none;
    }

    .login {
        display: none;
    }
}
