.container {
    position: fixed;
    top: calc(100vh - 50px - 50px);  /* - margin - height */
    left: calc(100vw - 50px - 50px);  /* - margin - width */
    height: 50px;
    width: 50px;

    background: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 50%;

    transition: 250ms;

    /* TODO: delete, img */
    text-align: center;
}
.container:hover {
    background: black;
    border-color: black;
    color: white;
}
