.container {
    margin: 50px 0;

    display: grid;
    grid-template-rows: auto auto 500px;
}

.header {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-gap: 25px;
    align-items: center;
}

.title {
    margin: 0 10%;
    display: grid;
    grid-template-columns: 70% auto;

    font-size: 40px;
    font-weight: 600;
}

.author {
    display: grid;
    grid-template-areas:
        'avatar name'
        'avatar date';
    grid-template-columns: 60px 50%;
    grid-template-rows: 50% auto;
    align-items: center;
    justify-content:right;

    min-height: 60px;
    height: 100%;

    text-align: right;
}

.image {
    width: 100%;
    height: 100%;
    max-height: 90vh;
    object-fit: cover;
}

.avatar {
    grid-area: avatar;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid black;
}
.avatar:hover {
    cursor: pointer;
}

.name {
    grid-area: name;
    font-size: 20px;
    font-weight: 600;
    align-self: end;
}

.date {
    grid-area: date;
    font-size: 16px;
    font-weight: 500;
    align-self: center;
}

.content {
    margin: 50px 25%;
    font-size: 20px;
    line-height: 150%;
}

.content p {
    display: grid;
}

.content img {
    width: 100%;
    max-height: 75vh;
    object-fit: cover;
    border-radius: 20px;
}

/* .content img[alt=wide] {
    width: 100%;
    height: auto;
    object-fit: cover;
} */

@media only screen and (max-width: 1200px) {
    .content {
        margin: 25px 5%;
    }
}

@media only screen and (max-width: 1200px) {
    .title {
        margin: 0 5%;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-gap: 25px;

        font-size: 24px;
    }

    .author {
        grid-template-columns: 60px auto;
        grid-template-rows: 50% auto;
        align-items: center;
        justify-content: left;
    
        min-height: 60px;
        height: 100%;
    
        text-align: right;
    }

    .name {
        padding-left: 20px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.16px;
    }

    .date {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.12px;
        opacity: 0.7;
    }
}
