@font-face {
    font-family: 'Inter';
    src: url('/public/static/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}
